node-red/flows.json
[{"id":"d894b41d.d4daa8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"eda4935a.7daa2","type":"server","z":"","name":"Home Assistant"},{"id":"353becc2.12f4f4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"78ea0edd.5a1e38","type":"trigger-state","z":"d894b41d.d4daa8","name":"Jacob Bluetooth Sensor","server":"eda4935a.7daa2","entityid":"sensor.jacob_bluetooth","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":4,"customoutputs":[{"outputId":"9ugws1p194","messageType":"custom","messageValue":"{\"home\":\"home\",\"user\":\"jacob\"}","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":">=","comparatorValue":"80"},{"outputId":"su6s6lp2dr","messageType":"custom","messageValue":"{\"home\":\"not_home\",\"user\":\"jacob\"}","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"<","comparatorValue":"80"}],"outputinitially":true,"state_type":"num","x":130,"y":300,"wires":[[],[],["8a186274.af1e78"],["8a186274.af1e78"]]},{"id":"8a186274.af1e78","type":"api-call-service","z":"d894b41d.d4daa8","name":"Publish location/bluetooth/{{user}}","server":"eda4935a.7daa2","version":1,"service_domain":"mqtt","service":"publish","entityId":"","data":"{\"topic\":\"location/bluetooth/{{user}}\",\"payload\":\"{{home}}\", \"retain\": true}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":280,"wires":[[]]},{"id":"f0d41566.b435d","type":"trigger-state","z":"d894b41d.d4daa8","name":"Katelyn Bluetooth Sensor","server":"eda4935a.7daa2","entityid":"sensor.katelyn_bluetooth","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":4,"customoutputs":[{"outputId":"wesvidf0n5n","messageType":"custom","messageValue":"{\"home\":\"home\",\"user\":\"katelyn\"}","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":">=","comparatorValue":"80"},{"outputId":"1vx43kksf1jj","messageType":"custom","messageValue":"{\"home\":\"not_home\",\"user\":\"katelyn\"}","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"<","comparatorValue":"80"}],"outputinitially":true,"state_type":"num","x":130,"y":220,"wires":[[],[],["8a186274.af1e78"],["8a186274.af1e78"]]},{"id":"9d9fb11f.54bd9","type":"trigger-state","z":"d894b41d.d4daa8","name":"Jacob Car Home","server":"eda4935a.7daa2","entityid":"sensor.jacob_garage_distance","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ul5cp6ekh6","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"<=","comparatorValueDatatype":"num","comparatorValue":"150"},{"id":"pimamdmk4i","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"50"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"txuq1ync32m","messageType":"custom","messageValue":"{\"home\":\"home\",\"user\":\"jacob\"}","messageValueType":"json","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":false,"state_type":"num","x":150,"y":440,"wires":[[],[],["ede93639.5ef6a"]]},{"id":"9bbc77d8.d8568","type":"trigger-state","z":"d894b41d.d4daa8","name":"Jacob Car Not Home","server":"eda4935a.7daa2","entityid":"sensor.jacob_garage_distance","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"g5kopmu9ylk","targetType":"entity_id","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"150"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"10z2qqhkt2d","messageType":"custom","messageValue":"{\"home\":\"not_home\",\"user\":\"jacob\"}","messageValueType":"json","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":false,"state_type":"num","x":140,"y":500,"wires":[[],[],["ede93639.5ef6a"]]},{"id":"ede93639.5ef6a","type":"api-call-service","z":"d894b41d.d4daa8","name":"Publish location/car/{{user}}","server":"eda4935a.7daa2","version":1,"service_domain":"mqtt","service":"publish","entityId":"","data":"{\"topic\":\"location/car/{{user}}\",\"payload\":\"{{home}}\", \"retain\": true}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":440,"y":480,"wires":[[]]}]