node-red/flows.json
[{"id":"d894b41d.d4daa8","type":"tab","label":"Bluetooth","disabled":false,"info":""},{"id":"e8d19cb4.a0ad38","type":"tab","label":"Garage","disabled":false,"info":""},{"id":"3b8708b5.7a4c8","type":"tab","label":"Bedroom Lights","disabled":false,"info":""},{"id":"eda4935a.7daa2","type":"server","z":"","name":"Home Assistant"},{"id":"353becc2.12f4f4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"78ea0edd.5a1e38","type":"trigger-state","z":"d894b41d.d4daa8","name":"Jacob Bluetooth Sensor","server":"eda4935a.7daa2","entityid":"sensor.jacob_bluetooth","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":4,"customoutputs":[{"outputId":"9ugws1p194","messageType":"custom","messageValue":"{\"home\":\"home\",\"user\":\"jacob\"}","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":">=","comparatorValue":"80"},{"outputId":"su6s6lp2dr","messageType":"custom","messageValue":"{\"home\":\"not_home\",\"user\":\"jacob\"}","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"<","comparatorValue":"80"}],"outputinitially":true,"state_type":"num","x":150,"y":140,"wires":[[],[],["8a186274.af1e78"],["8a186274.af1e78"]]},{"id":"8a186274.af1e78","type":"api-call-service","z":"d894b41d.d4daa8","name":"Publish location/bluetooth/{{user}}","server":"eda4935a.7daa2","version":1,"service_domain":"mqtt","service":"publish","entityId":"","data":"{\"topic\":\"location/bluetooth/{{user}}\",\"payload\":\"{{home}}\", \"retain\": true}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":120,"wires":[[]]},{"id":"f0d41566.b435d","type":"trigger-state","z":"d894b41d.d4daa8","name":"Katelyn Bluetooth Sensor","server":"eda4935a.7daa2","entityid":"sensor.katelyn_bluetooth","entityidfiltertype":"exact","debugenabled":false,"constraints":[],"constraintsmustmatch":"all","outputs":4,"customoutputs":[{"outputId":"wesvidf0n5n","messageType":"custom","messageValue":"{\"home\":\"home\",\"user\":\"katelyn\"}","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":">=","comparatorValue":"80"},{"outputId":"1vx43kksf1jj","messageType":"custom","messageValue":"{\"home\":\"not_home\",\"user\":\"katelyn\"}","messageValueType":"json","comparatorPropertyType":"current_state","comparatorPropertyValue":"new_state.state","comparatorType":"<","comparatorValue":"80"}],"outputinitially":true,"state_type":"num","x":150,"y":60,"wires":[[],[],["8a186274.af1e78"],["8a186274.af1e78"]]},{"id":"24fa0432.5b73fc","type":"trigger-state","z":"e8d19cb4.a0ad38","name":"Jacob Car Home","server":"eda4935a.7daa2","entityid":"sensor.garage_sr04_distance","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"ul5cp6ekh6","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"<=","comparatorValueDatatype":"num","comparatorValue":"150"},{"id":"pimamdmk4i","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"50"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"txuq1ync32m","messageType":"custom","messageValue":"{\"home\":\"home\",\"user\":\"jacob\"}","messageValueType":"json","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":true,"state_type":"num","x":190,"y":60,"wires":[[],[],["e0577d38.95b5d8"]]},{"id":"5ea2f1d4.12c14","type":"trigger-state","z":"e8d19cb4.a0ad38","name":"Jacob Car Not Home","server":"eda4935a.7daa2","entityid":"sensor.garage_sr04_distance","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"g5kopmu9ylk","targetType":"entity_id","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":">=","comparatorValueDatatype":"num","comparatorValue":"150"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"10z2qqhkt2d","messageType":"custom","messageValue":"{\"home\":\"not_home\",\"user\":\"jacob\"}","messageValueType":"json","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":true,"state_type":"num","x":180,"y":120,"wires":[[],[],["e0577d38.95b5d8"]]},{"id":"e0577d38.95b5d8","type":"api-call-service","z":"e8d19cb4.a0ad38","name":"Publish location/car/{{user}}","server":"eda4935a.7daa2","version":1,"service_domain":"mqtt","service":"publish","entityId":"","data":"{\"topic\":\"location/car/{{user}}\",\"payload\":\"{{home}}\", \"retain\": true}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":460,"y":100,"wires":[[]]},{"id":"99b56a02.d2e258","type":"api-call-service","z":"e8d19cb4.a0ad38","name":"Publish state/car/jacob","server":"eda4935a.7daa2","version":1,"service_domain":"mqtt","service":"publish","entityId":"","data":"{\"topic\":\"state/car/jacob\",\"payload\":\"disconnected\", \"retain\": true}","dataType":"json","mergecontext":"","output_location":"payload","output_location_type":"msg","mustacheAltTags":false,"x":450,"y":180,"wires":[[]]},{"id":"e956ca1.9ac3838","type":"trigger-state","z":"e8d19cb4.a0ad38","name":"Jacob Car Turned On","server":"eda4935a.7daa2","entityid":"sensor.jacob_car_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"0pm14ho4ljql","targetType":"entity_id","targetValue":"device_tracker.jacob_car","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"id":"oz3od0lh0bb","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"connected_home"},{"id":"hr92jncehe","targetType":"entity_id","targetValue":"cover.garage_door","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"k6y44djvgom","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":true,"state_type":"str","x":180,"y":200,"wires":[[],[],["99b56a02.d2e258","76c1c159.d85358"]]},{"id":"76c1c159.d85358","type":"api-call-service","z":"e8d19cb4.a0ad38","name":"Open Garage","server":"eda4935a.7daa2","version":1,"service_domain":"cover","service":"open_cover","entityId":"cover.garage_door","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":420,"y":260,"wires":[[]]},{"id":"19d7c72d.7d87f9","type":"trigger-state","z":"e8d19cb4.a0ad38","name":"Jacob Car Left","server":"eda4935a.7daa2","entityid":"sensor.jacob_car_state","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"2t08r8bcb33","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"disconnected"},{"id":"d9yno6az33m","targetType":"entity_id","targetValue":"cover.garage_door","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"},{"id":"eluvc6sjfhw","targetType":"entity_id","targetValue":"person.jacob","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"not_home"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"k6y44djvgom","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":true,"state_type":"str","x":200,"y":460,"wires":[[],[],[]]},{"id":"e727eb7f.051e","type":"api-call-service","z":"e8d19cb4.a0ad38","name":"Close Garage","server":"eda4935a.7daa2","version":1,"service_domain":"cover","service":"close_cover","entityId":"cover.garage_door","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":600,"y":480,"wires":[[]]},{"id":"5a4661dc.46e728","type":"trigger-state","z":"e8d19cb4.a0ad38","name":"Garge Open and Nobody Home","server":"eda4935a.7daa2","entityid":"cover.garage_door","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"gxi3p7rw6eq","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"open"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"a188owkb36f","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":true,"state_type":"str","x":150,"y":520,"wires":[[],[],["34576539.f4a5ca"]]},{"id":"34576539.f4a5ca","type":"delay","z":"e8d19cb4.a0ad38","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":520,"wires":[["e727eb7f.051e"]]},{"id":"87640d8.f1675f","type":"trigger-state","z":"e8d19cb4.a0ad38","name":"Jacob Car Arrive","server":"eda4935a.7daa2","entityid":"person.jacob","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"6x1ao0sbdv8","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"id":"md7alvzi1in","targetType":"entity_id","targetValue":"sensor.jacob_car_state","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"disconnected"},{"id":"77cmxv7txa9","targetType":"entity_id","targetValue":"cover.garage_door","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"},{"id":"ew741dcr4zd","targetType":"entity_id","targetValue":"sensor.jacob_car","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"num","comparatorValue":"0"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"k6y44djvgom","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":true,"state_type":"str","x":190,"y":300,"wires":[[],[],[]]},{"id":"4713faed.5a078c","type":"trigger-state","z":"e8d19cb4.a0ad38","name":"Katelyn Car Arrive","server":"eda4935a.7daa2","entityid":"person.katelyn","entityidfiltertype":"exact","debugenabled":false,"constraints":[{"id":"6x1ao0sbdv8","targetType":"this_entity","targetValue":"","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"home"},{"id":"77cmxv7txa9","targetType":"entity_id","targetValue":"cover.garage_door","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"str","comparatorValue":"closed"},{"id":"orcg4g9zmg","targetType":"entity_id","targetValue":"sensor.katelyn_car","propertyType":"current_state","propertyValue":"new_state.state","comparatorType":"is","comparatorValueDatatype":"num","comparatorValue":"0"}],"constraintsmustmatch":"all","outputs":3,"customoutputs":[{"outputId":"k6y44djvgom","messageType":"default","messageValue":"","messageValueType":"json","comparatorPropertyType":"always","comparatorPropertyValue":"","comparatorType":"is","comparatorValue":""}],"outputinitially":true,"state_type":"str","x":190,"y":360,"wires":[[],[],[]]},{"id":"5490a330.6b393c","type":"bigtimer","z":"3b8708b5.7a4c8","outtopic":"","outpayload1":"","outpayload2":"","name":"Dusk to Dawn","comment":"","lat":"35.32451","lon":"-97.46054","starttime":5001,"endtime":"5000","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":120,"y":160,"wires":[[],[],[]]},{"id":"a970c13d.023318","type":"bigtimer","z":"3b8708b5.7a4c8","outtopic":"","outpayload1":"","outpayload2":"","name":"Dawn to Sunrise","comment":"","lat":"35.32451","lon":"-97.46054","starttime":"5000","endtime":"5003","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":120,"y":260,"wires":[[],[],[]]},{"id":"565547ae.8e4ed8","type":"bigtimer","z":"3b8708b5.7a4c8","outtopic":"","outpayload1":"","outpayload2":"","name":"Sunrise to Dusk","comment":"","lat":"35.32451","lon":"-97.46054","starttime":"5003","endtime":"5001","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":120,"y":360,"wires":[[],[],[]]},{"id":"8585e4c.326e318","type":"api-call-service","z":"3b8708b5.7a4c8","name":"Turn Bed Accent Light Off","server":"eda4935a.7daa2","version":1,"service_domain":"light","service":"turn_off","entityId":"light.bedroom_accent","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":410,"y":360,"wires":[[]]},{"id":"cdb41981.4af9d8","type":"api-call-service","z":"3b8708b5.7a4c8","name":"Turn Bed Accent Light On for Night","server":"eda4935a.7daa2","version":1,"service_domain":"light","service":"turn_on","entityId":"light.bedroom_accent","data":"{\"brightness\":10,\"rgb_color\":[255,217,217],\"entity_id\":\"light.bedroom_accent\"}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":440,"y":280,"wires":[[]]}]